.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image-doctor {
  object-fit: cover;
  object-position: top center;
}

.custom-styles {
  background-image:
    linear-gradient(
      rgba(79, 186, 12, 0.7),
      rgba(194, 246, 73, 0.8)
    ),
    url('https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.reserve-div1 h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  text-align: center;
}

.reserve-div1 p {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.reserve-hr {
  margin: 1rem 0;
  width: 90%;
}

.reserve-input {
  border-radius: 20px;
  background: transparent;
  font-size: 18px;
  color: white;
}

.reserve-select {
  border-radius: 20px;
  background: transparent;
  font-size: 18px;
  color: rgb(116, 189, 8);
}

.reserve-btn {
  border-radius: 20px;
  width: 60%;
  background-color: white;
  color: rgb(116, 189, 8);
  padding: 0;
  font-size: 17px;
}

.my-reserve-head {
  text-align: center;
}
